.main{
  font-family: 'Montserrat', "Helvetica Neue", sans-serif;
  width:98vw;
  height:88vh;
}

.right{
  display:block;
  width:50%;
  height:88vh;
  padding:0;
  margin:0;
  background-image: url("../../../assets/editGif.gif");
  background-size:cover;
  background-color: #cccccc;
}

.left{
  width:50%;
  height:100%;
  padding:5vw;
  padding-top:2vh;
  margin:0;
  text-align:center;
  /* display:flex; */
  /* align-items: center; */
  /* justify-content: center; */
}

.title{
  font-family: 'Montserrat', "Helvetica Neue", sans-serif;
  font-size: 6vh;
  margin:0;
  margin-left:3vw;
  display:inline;
  /* align-self: center; */
}

.head{
  display: flex;
  align-items:center;
  justify-content:flex-start;
  align-content: center;
  margin-bottom: 3vh;
}

.inp{
  width:70%;
}

.log{
  font-family: 'Montserrat', "Helvetica Neue", sans-serif;
  background-color:rgb(65, 88, 202);
  color:white;
  width: auto;
}

.card{
  width:100%;
  text-align: left;
  margin-top:5vh;
  padding:20px;
  padding-left:3vw;
  /* background-color: hsl(38, 81%, 86%); */
  box-shadow: 0 10px 32px 0 rgba(65, 88, 202, 0.37 );
  backdrop-filter: blur( 2px );
  -webkit-backdrop-filter: blur( 4.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.key{
  display: inline-block;
  min-width:30%;
  font-family: 'Montserrat', "Helvetica Neue", sans-serif;
  color:#4158CA;
  font-size: 22px;
  margin-right:20px;
}

.value{
  font-family: 'Montserrat', "Helvetica Neue", sans-serif;
  /* color:#4158CA; */
  font-size: 18px;
}

.colon{
  font-family: 'Montserrat', "Helvetica Neue", sans-serif;
  color:#4158CA;
  font-size: 22px;
  margin-right:15px;
}

p{
  /* margin-right:20px;
  border-bottom: 1px solid #4158CA; */
  margin:0;
}

.back{
  display: inline;
  /* font-size: 6vh; */
}
